version: '3.8'

services:
  mysqldb:
    image: mysql:8
    container_name: mysqldb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: artisan_market_place
    ports:
      - "3307:3306"
    networks:
      - spring-net

  spring-app:
    build: .
    container_name: spring-app
    depends_on:
      - mysqldb
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: local
    networks:
      - spring-net
    restart: always

networks:
  spring-net:
